*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
}
.icon{
    display: none;
}
@media (max-width:768px) {

    nav{
        display: none;
    }
    .icon{
        display: contents;
    }
}